*{box-sizing: border-box;}

body {
    background: url(steam.jpg)center;
}

#container{
    width: 1000px;
    height: 1300px;
    margin: 0 auto;
    background-color: rgb(124, 183, 140);
}
header{
    text-align: center;
    font-size: 70px;
    background-color: rgba(116, 37, 244, 0.4);
    width: 600px;
    height: 100px;
    margin:auto;
    border-style: dotted;
    border-radius: 10px;
    font-family: "IM Fell French Canon SC", serif;
}
#one{
    width: 200px;
    height: 90px;
    margin-left: 20px;
    background-color: rgba(116, 37, 244, 0.4);
    border-radius: 10px;
    border-style:dotted;
    font-family: "IM Fell French Canon SC", serif;
}
#two{
    width: 200px;
    height: 110px;
    margin-left: 20px;
    background-color: rgba(116, 37, 244, 0.4);
    border-radius: 10px;
    border-style:dotted;
    font-family: "IM Fell French Canon SC", serif;
}
#three{
    width: 300px;
    height: 110px;
    margin-left: 20px;
    background-color: rgba(116, 37, 244, 0.4);
    border-radius: 10px;
    border-style:dotted;
    font-family: "IM Fell French Canon SC", serif;
}
#table{ 
    float: right;
    margin-right: -300px;
    margin-top: -400px;
    font-family: "IM Fell French Canon SC", serif;
}

 tr:nth-child(even) {
  background-color: rgba(152, 121, 239, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(152, 121, 239, 0.4);
}
th:nth-child(odd),td:nth-child(odd), tr:nth-child(odd) {
  background-color: rgba(227, 216, 255, 0.4);
}
#frame{
    text-align: center;
    padding-top: 30px;
    border-color: rgb(90, 0, 143);
}
h1{
    background-color: aliceblue;
    width: 350px;
    height: 40px;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 30px;
    font-family: "IM Fell French Canon SC", serif;
}
h2{
    background-color: aliceblue;
    width: 350px;
    height: 40px;
    text-align: center;
    margin:auto;
    border-radius: 10px;
    font-size: 30px;
    font-family: "IM Fell French Canon SC", serif;
}
button{
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 15px;
    font-family: "IM Fell French Canon SC", serif;
    
}

footer{
    color: aliceblue;
    font-family: "IM Fell French Canon SC", serif;
}